body {
  margin: 0;
}

.main-div {
  width: 100%;
  height: 650px;
  display: flex;
  position: relative;
}

.left {
  width: 35%;
  height: 100%;
  background-color: rgb(22, 22, 22);
  left: 0;
  bottom: 0;
}

.right {
  width: 65%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: absolute;
}

.nav-container-logo {
  width: 200px;
  height: auto;
}

.nav-container-manu {
  width: 200px;
  height: auto;
}

.div-img {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  position: relative;
}

.div-container-img {
  margin-top: 40%;
  margin-left: 80%;
  z-index: 5;
  position: absolute;
  /* transform: translate(0, -50); */
}

.img {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  z-index: 5;
}

.div-text {
  height: auto;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: antiquewhite;
  height: auto;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.icon {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  left: 40px;
  bottom: 50px;
  align-items: center;
  gap: 20px;
}

.icon-img {
  height: 50px;
  width: 50px;
}
